
body{
    font-family: Georgia, 'Times New Roman', Times, serif;  
}
.navbar{
    background-color: rgba(0, 0, 0 );
    height: 80px;
    margin-block: 20px;
}
.nav-link {
    color: blue;
    font-size: 20px;
    text-align: center;
    padding-right: 20px;
    background-color: rgba(0, 0, 0, 0.911);
}
.dropdown-menu {
    background-color: rgba(87, 41, 41, 0);
    text-align: center;
}
.dropdown-item{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.856)
}
.nav-link:hover{
    color: rgb(0, 0, 0);
    background-color: rgba(253, 253, 253, 0.527)
}
.row{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
}
.row button{
    background-color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 120px;
    width: 80px;
    height: 30px;
    border-radius: 05px 05px 05px;
    text-align: center;
}

#logo{
    min-width: 60px;
    min-height: 40px;
}
.navbar-toggler{
    background-color: rgb(255, 255, 255);
}
.slider {
    background-color: rgba(0, 0, 0, 0.897);
    margin-top: 75px;
}
h3 h5{
    color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font: bold;
}
.text h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    text-align: center;
    background-color: khaki;
    margin-left: 20px;
    margin-right: 20px;
}
footer{
    background-color: black;
    margin-bottom: 10px;
    margin-top: 10px;
}
footer{
    text-align: center;
    font-size: 18px;
    font-style: italic;
    padding-bottom: 0px;
    color: lavender;
}
.portafolio-container img{
  width: 100%;
}
.portafolio-container {
    position: relative;
    overflow: hidden;

}


.portafolio-details{
    bottom: 10px;
    text-align: center;
}
.portafolio-details h2{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 30px;
    background-color: khaki;
}
a:hover{
    text-decoration: none;

}
